/* Colour Palette 
primary      #0049FF
accent       #92deff
secondary    #ffc157
selection    #99ccff
error        #f48b22
neutrals light to dark:
#ffffff
#f0f0f0
#9b9b9b
#0f0f0f
-----------------------*/
body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0f0f0f;
    background-color: #f0f0f0;
}

header {
    padding: 1.25em;
    width: 100%;
    background-color: #0049FF;
    padding-left: 20px;
}

header a {
    padding: 0.5em 0;
    z-index: 9999;
}

.header-wrap {
    padding: 0 3em;
    display: inline-flex;
    justify-content: space-between;
}

.btn-light {
    background-color: #f0f0f0;
    color: #0f0f0f;
    border: none;
}

.display {
    font-size: 4em;
    font-weight: 700;
    color: white;
    display: inline-block;
}
.centre {
    text-align: center;
    align-items: center;
    display: block;
}

h1 {
    font-size: 3em !important;
    font-weight: 700 !important;
    margin: 0 !important;
}

h2 {
    font-size: 2.5em;
    font-weight: 500;
}

.d-lg-block { 
    text-align: right;
}

.nav-list {
    display: inline-block;
}
.nav-css {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover {
    text-decoration: none;
    color: white;
}
.navbar {
    margin-right: 2em !important;
}

nav ul {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

ul {
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #99ccff;
}

a {
    text-decoration: none;
    color: #0f0f0f;
}

a:hover {
    color: rgba(0,73,255, 0.5);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 1.25em 1.25em 0 1.25em ;

}

nav ul li a:hover {
    color: #ffc157;
    text-decoration: none;
}

.body-1 {
    font-size: 1.25em;
}

.body-2 {
    font-size: .875em;
    margin-bottom: 0 !important;
}

.caption {
    font-size: .75em;
    font-weight: 300;
}

main {
    margin-top: 0;
}

.city {
    text-align: center;
    letter-spacing: 10px;
    margin-top: 1.75em;
    margin-bottom: 1em;
}

#select-city {
    display: block;
    margin-bottom: 20px;
}

.dropdown-menu {
    justify-content: center;
    right: 0 !important;
}

.carousel-item {
    filter: brightness(70%);
} 

.promo-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

.cta-carousel {
    text-align: center;
    transform: translateY(-350%);
}
/* ----- SHOW TEXT TRANSITION ----- */

.grid-item .categories:hover {
    opacity: 100;
    color: #0049FF;
    text-decoration: none;
}

/* CITY REVEAL */
#city-container {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    text-align: center !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 20px;
    max-width: 100%;
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
}

.grid-item-img {
    max-width: 100%;
    min-height: auto;
}

.grid-item {
    text-align: center;
    color: white;
} 

.grid-item-img:hover {
    filter: brightness(80%);
}

.categories {
    transform: translateY(-900%);
}

 .grid-item .categories {
    opacity: 0;
}

/* STORES */
.store-grid {
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-auto-rows: 300px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    /* column-gap: 15px; */
    gap: 15px;
}

.store-item {
    display: flex;
    background-color: #ffc157;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.store-desc {
    color: #0f0f0f;
}

/* PRODUCTS */

.products-container {
    display: grid;
    margin-top: 1.5em;
    justify-content: center;
    max-width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 1fr);
    gap: 5em 6em;
}

.description {
    display: inline-flex;
    flex-direction: column;
}

/* FOOTER */
.footer-container {
    margin-bottom: 1em;
    padding-top: 1.5em;
    align-items: center;
    display: flex;
    justify-content: center;
    border-top: .5px solid rgba(155, 155, 155, 0.5) ;
}

.footer-container a {
    padding: 15px;
    display: inline-block;
}
/* /FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 991px) {
    .header-wrap {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2em !important;
        font-weight: 700 !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 661px) {
    .grid-container {
        display: block;
    }

    .grid-item-img {
        max-width: 75%;
        height: auto;
    }
}

@media screen and (max-width: 1095px) {
    .store-grid {
        display: block;
        grid-auto-rows: 100px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .store-item {
        width: 100%;
        height: auto;
    }
    .btn {
        margin-bottom: 2em !important;
    }
}

@media screen and (max-width: 1100px) {
    .products-container {
        display: block;
    }

    .products-listing {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .description {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}